td.size {
  text-align: right;
  font-variant-numeric: tabular-nums;
  padding: 0 0.25em;
}

table > thead > tr > th > button, .module button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
}

.module .module-id {
  cursor: pointer;
}

.module .icon {
  display: inline-block;
  text-align: center;
  width: 1.5em;
}

.module.imported-by-hovered {
  color: blue;
}

.module.imports-hovered {
  color: green;
}

.module.hovered {
  color: red;
}

.module.filtered {
  color: lightgray;
}

.module.ignored {
  text-decoration: line-through;
}

.module .module-actions {
  display: none;
  cursor: pointer;
  user-select: none;
  margin-left: 0.5em;
}

.module:hover .module-actions, .module.pinned .module-actions {
  display: inline-block;
}
.module:not(:hover) .module-actions :not(.pin) {
  display: none;
}
